html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.signup-img {
  max-height: 500px;
  padding: 30px;
}

.wrapper .hero {
  margin-top: 20px;
  text-align: center;
}

.wrapper .hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}

.wrapper .hero p {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.highlight-blue {
  color: #fff;
  background-color: #1e6add;
  padding: 50px 0;
}

.highlight-blue p {
  color: #c4d5ef;
  line-height: 1.5;
}

.highlight-blue h2 {
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-blue .buttons {
  text-align: center;
}

.highlight-blue .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.highlight-blue .buttons .btn:hover {
  opacity: 1;
}

.highlight-blue .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-blue .buttons .btn-primary,
.highlight-blue .buttons .btn-primary:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 14px 24px;
  background: transparent;
  transition: background-color 0.25s;
}

.form-style {
  padding: 80px 0;
  width: 70%;
  margin: 0 auto;
}

.form-style .form-container {
  display: table;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.form-style form {
  display: table-cell;
  width: 100%;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

.form-style.affirmations form {
  border-radius: 8px;
  background-color: #fcde23;
  color: #095f63;
}

.form-style form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form-style form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.form-style form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.form-style form .btn-primary {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ffffff;
  background: #3954bf !important;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}

.form-style form .btn-primary:hover,
.form-style form .btn-primary:active {
  background: #1336bf;
}

.form-style form .btn-primary:active {
  transform: translateY(1px);
}

.form-style form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

@media (min-width: 768px) {
  .wrapper .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .wrapper .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }

  .wrapper .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .wrapper .hero {
    margin-top: 120px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .wrapper .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .wrapper .hero h1 {
    margin-top: 190px;
    margin-bottom: 24px;
    line-height: 1.2;
  }

  .form-style form {
    padding: 40px;
  }
}
