.wrapper .navbar {
  background: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.wrapper .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.wrapper .navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.wrapper .navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
}

.wrapper .navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: 0.5rem;
  text-decoration: none;
}

.wrapper .navbar .navbar-collapse span .login:hover {
  color: #fff;
}

.wrapper .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.wrapper .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.wrapper .navbar .navbar-toggler:hover,
.wrapper .navbar-toggler:focus {
  background: none;
}

.wrapper .navbar .navbar-nav a.active,
.wrapper .navbar .navbar-nav > .show .dropdown-item {
  background: none;
  box-shadow: none;
}

.wrapper .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.wrapper .navbar .dropdown-menu .dropdown-item:focus,
.wrapper .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.wrapper .navbar .dropdown-menu .dropdown-item:focus,
.wrapper .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}

.wrapper .action-button,
.wrapper .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1 !important;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}

.wrapper .action-button:hover {
  background: #ebeff1;
  color: rgba(0, 0, 0, 0.7) !important;
  transition: 600ms all ease;
}

.wrapper .action-button.border-0:hover {
  color: white !important;
  background: transparent;
}
